<form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()">
  <div class="mt-10 mb-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">


    <div class="sm:col-span-3">
      <label class="block text-sm/6 font-medium text-gray-900">Cliente:</label>
      <div class="mt-2">
        <span class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm">
          {{habitacion().cliente.nombre + " " + habitacion().cliente.apellidos}}
        </span>
      </div>
    </div>

    <div class="sm:col-span-3">
      <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Ocupantes</label>
      <div class="mt-2">
        <span class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 sm:text-sm">
          {{habitacion().cliente.numPersonas}}
        </span>
      </div>
    </div>

    <div class="sm:col-span-3">
      <label for="country" class="block text-sm/6 font-medium text-gray-900">Restaurante</label>
      <div class="mt-2 grid grid-cols-1">
        <select formControlName="restaurante" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
          @for (restaurante of restauranteService.restaurantes(); track restaurante.id) {
            <option value="{{restaurante.id}}">{{restaurante.nombre}}</option>
          }

        </select>
        <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
          <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
        </svg>
      </div>
    </div>


  <div class="sm:col-span-3">
    <label for="country" class="block text-sm/6 font-medium text-gray-900">Número de comensales</label>
    <div class="mt-2 grid grid-cols-1">
      <select formControlName="numPax" id="country" name="country" autocomplete="country-name" class="col-start-1 row-start-1 w-full appearance-none rounded-md bg-white py-1.5 pr-8 pl-3 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6">
        @for (pax of [].constructor(habitacion().cliente.numPersonas); track $index; let i = $index) {

          <option>{{i + 1}}</option>
        }

      </select>
      <svg class="pointer-events-none col-start-1 row-start-1 mr-2 size-5 self-center justify-self-end text-gray-500 sm:size-4" viewBox="0 0 16 16" fill="currentColor" aria-hidden="true" data-slot="icon">
        <path fill-rule="evenodd" d="M4.22 6.22a.75.75 0 0 1 1.06 0L8 8.94l2.72-2.72a.75.75 0 1 1 1.06 1.06l-3.25 3.25a.75.75 0 0 1-1.06 0L4.22 7.28a.75.75 0 0 1 0-1.06Z" clip-rule="evenodd" />
      </svg>
    </div>
  </div>



  </div>




  <div class="my-6 flex items-center md:justify-end justify-center text-center gap-x-6">
  <input type="submit" class="rounded-lg  bg-gray-900 px-3 py-2 text-sm font-semibold text-white shadow-xs hover:bg-gray-700 focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-gray-900" value="Ver disponibilidad">

  </div>
</form>
