
  <div class="space-y-12 ">



    <div class="border-b border-gray-900/10 pb-3">

      <h2 class="text-base/7 font-semibold text-gray-900">Realizar una reserva</h2>
      <p class="mt-1 text-sm/6 text-gray-600">Use a permanent address where you can receive mail.</p>


      <!-- inicio div formulario -->

      <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-1">

        <form autocomplete="off" [formGroup]="myForm" (ngSubmit)="onSave()" class="grid sm:grid-cols-4 grid-cols-1 gap-x-6 sm:gap-y-2 ">

          <div class="col-span-2">
            <label for="first-name" class="block text-sm/6 font-medium text-gray-900">Habitación</label>

              <input type="number" class="block w-full rounded-md bg-white px-3 py-1.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
                formControlName="habitacion"
                >

            </div>


            <div class="col-span-2">
            <label for="first-name" class="block text-sm/6 font-medium text-gray-900"></label>

              <input type="submit" class="block font-semibold w-full rounded-md bg-gray-900  hover:bg-gray-700  px-3 py-1.5 text-base text-white outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6 " value="Buscar cliente">
            </div>



        </form>

        @if (errorHab()) {
          <div class="p-3 text-sm text-red-800 rounded-lg bg-red-50 dark:bg-gray-800 dark:text-red-400" role="alert">
            {{errorHabMessage()}}
          </div>
        }



      </div>
      <!-- fin div formulario-->

      @if (this.habEncontrada()) {
        <reserva-restaurante-buscar-cliente [habitacion]="habitacion()"></reserva-restaurante-buscar-cliente>


      }













    </div>


  </div>








